<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <title>login-ejs</title>
</head>
<body>
    <h3>增加订单</h3>
    <form action="/addOrder" method="POST">
        总价：<input type="text" name="all_price"><br/>
        总数：<input type="text" name="all_null"><br/>
        <button type="submit">
            提交
        </button>
    </form>
</body>
</html>