<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <title>login-ejs</title>
</head>
<body>
    <h3>这是一个ejs模版</h3>
    <form action="/home" method="POST">
        姓名<input type="text" name="name"><br/>
        年龄<input type="text" name="age"><br/>
        <button type="submit">
            提交
        </button>
    </form>
</body>
</html>