<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news-ejs</title>
</head>
<body>
    <%-include('./public/head.ejs')%>
    <h4>这是首页news模版</h4>
    <%=publicString%>
</body>
</html>